
.gallery {
    background-color:#eee ;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.gallery-item {
  width: 300px;
  margin: 10px;
  text-align: center;
}

img {
  width: 200px;
  height: 200px;
}
